/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * LESS variables and mixins for the project are kept in here.
 *
 */


 /* Colours */

@body: #666666;
@white: #ffffff;


/* Transitions */

.transition {
	transition: all 0.3s linear;
}


/* Layout */

@spacing: 8rem; /* Variable used to apply consistent spacing to blocks. */