/* ==========================================================================
   Forms
   ========================================================================== */


/**
 * 1. Form elements
 * 2. Gravity forms
 */





/* 1. Form elements
   ========================================================================== */


/**
 * Buttons.
 */

.button,
button,
input[type="submit"] {

	&:hover {

	}

	&:focus {

	}

	&:active {

	}
}


/**
 * Form fields.
 */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
textarea {


	&:hover {

	}

	&:active {

	}

	&:focus {

	}
}

textarea {

}

select {

}

input[type="checkbox"] {

}

input[type="radio"] {

}

label {
	
}





/* 2. Gravity Forms
   ========================================================================== */


/**
 * Body styles.
 */

.gform_body {

	ul {
		list-style: none;
		margin: 0;

		li {
			margin-bottom: 2.5rem;
			padding-left: 0;

			ul li {
				margin-bottom: 0;
			}
		}
	}
}

/**
 * Since some elements in complex fields are floated, make sure they're cleared.
 */

.ginput_complex {
	.clearfix();
}

/**
 * Display radio button and checkboxes inline.
 */

.gfield_radio,
.gfield_checkbox {
	.clearfix();

	li {
		display: inline-block;
		float: left;
		margin-right: 2rem;
	}
}

/**
 * Style the input counter used on fields with character limit counts.
 */

.ginput_counter {
	font-size: 1.4rem;
}

/**
 * Address fields have sub-labels for each sub-field.
 * Style these slightly differently.
 */

.ginput_container_address {

	label {
		font-size: 1.2rem;
		line-height: 2rem;
		font-weight: 300;
		margin: 0.5rem 0 1.5rem;
	}

	.address_line_1,
	.address_city,
	.address_state,
	.address_zip {
		float: left;

		@media @medium-down {
			float: none;
		}
	}

	.address_city,
	.address_zip {
		margin-left: 1.5rem;

		@media @medium-down {
			margin-left: 0;
		}
	}
}

/**
 * Message styles for Gravity Forms plugin.
 * Messages, errors, instructions, notifications, etc.
 */

.validation_error,
.validation_message {
	font-size: 1.4rem;
	line-height: 2rem;
	color: red;
}

.validation_error {
	margin-bottom: 2.5rem;
}

.gform_confirmation_message {
	font-size: 1.6rem;
	line-height: 2.6rem;
}

.gform_validation_container {
	display: none;
}

.gform_drop_instructions {
	display: none;
}
