/* ==========================================================================
   Variables
   ========================================================================== */


/**
 * 1. Breakpoints
 * 2. Colours
 * 3. Units
 */





/* 1. Breakpoints
   ========================================================================== */

@small: 480px;
@medium: 768px;
@large: 1320px;





/* 2. Colours
   ========================================================================== */

@primary: #DB504A;
@secondary: #254441;

@body: #666666;
@dark: #000000;
@light: #FFFFFF;

@light-grey: #FAFAFA;
@mid-grey: #BDBDBD;
@dark-grey: #3A3A3A;





/* 3. Units
   ========================================================================== */

@gutter: 1.5rem; /* The gutter for grid columns. */
@site-padding: 4rem; /* Use this variable to define the side padding for the site. */

@unit: 8rem; /* Variable used to apply consistent spacing to blocks. */
