/* ==========================================================================
   Variables
   ========================================================================== */


/**
 * 1. Breakpoints
 * 2. Colours
 * 3. Units
 */





/* 1. Media queries
   ========================================================================== */

@xs-small-down: ~"only screen and (max-width: 401px)";
@small-down: ~"only screen and (max-width: 767px)";
@medium-down: ~"only screen and (max-width: 990px)";
@large-down: ~"only screen and (max-width: 1200px)";
@extra-large-down: ~"only screen and (max-width: 1520px)";

@xs-small-up: ~"only screen and (min-width: 401px)";
@small-up: ~"only screen and (min-width: 768px)";
@medium-up: ~"only screen and (min-width: 991px)";
@large-up: ~"only screen and (min-width: 1201px)";
@extra-large-up: ~"only screen and (min-width: 1521px)";





/* 2. Colours
   ========================================================================== */

@primary: #DB504A;
@secondary: #254441;

@body: #666666;
@dark: #000000;
@light: #FFFFFF;

@light-grey: #FAFAFA;
@mid-grey: #BDBDBD;
@dark-grey: #3A3A3A;





/* 3. Units
   ========================================================================== */

@gutter: 1.5rem; /* The gutter for grid columns. */
@site-padding: 4rem; /* Use this variable to define the side padding for the site. */

@unit: 8rem; /* Variable used to apply consistent spacing to blocks. */
