/* ==========================================================================
   Variables
   ========================================================================== */


/**
 * 1. Breakpoints
 * 2. Colours
 * 3. Units
 */





/* 1. Media queries
   ========================================================================== */

/**
 * Media queries for device targetting.
 */

@x-small-down: ~"only screen and (max-width: 401px)";
@small-down: ~"only screen and (max-width: 767px)";
@medium-down: ~"only screen and (max-width: 990px)";
@large-down: ~"only screen and (max-width: 1200px)";
@x-large-down: ~"only screen and (max-width: 1520px)";

@x-small-up: ~"only screen and (min-width: 401px)";
@small-up: ~"only screen and (min-width: 768px)";
@medium-up: ~"only screen and (min-width: 991px)";
@large-up: ~"only screen and (min-width: 1201px)";
@x-large-up: ~"only screen and (min-width: 1521px)";





/* 2. Colours
   ========================================================================== */


/**
 * Brand colour palette.
 */

@colour1: #DB504A;
@colour2: #254441;


/**
 * Blacks, whites and greys.
 */

@black: #000000;
@white: #FFFFFF;
@grey: #666666;
@lightgrey: #FAFAFA;
@midgrey: #BDBDBD;
@darkgrey: #3A3A3A;





/* 3. Units
   ========================================================================== */

/**
 * Global gutter width - use with grids and flex layouts.
 */

@gutter: 1.5rem;


/**
 * Site padding is used to add a consistent outer gutter to the site.
 */

@site-padding: 3.5rem;


/**
 * A set of global size variables that are used throughout the project.
 */

@unit-xs: 2.5rem;
@unit-s: 5rem;
@unit-m: 7.5rem;
@unit-l: 10rem;
@unit-xl: 15rem;
