/* ==========================================================================
   Visibility
   ========================================================================== */

/**
 * Classes to target specific screen sizes and device types.
 * For example, to hide an element on small screens.
 *
 * Example HTML:
 *
 * <div class="hide-for-small">
 *     <div>This will be hidden on small screens.</div>
 * </div>
 *
 */


/* Standard (large) display targeting */

.show-for-small,
.show-for-medium,
.show-for-medium-down,
.hide-for-large,
.hide-for-large-up,
.show-for-xlarge,
.show-for-print {
	display: none !important;
}

.hide-for-small,
.hide-for-medium,
.hide-for-medium-down,
.show-for-large,
.show-for-large-up,
.hide-for-xlarge,
.hide-for-print {
	display: inherit !important;
}




/* Very large display targeting */

@media only screen and (min-width: @large+0.1rem) {
	
	.hide-for-small,
	.hide-for-medium,
	.hide-for-medium-down,
	.hide-for-large,
	.show-for-large-up,
	.show-for-xlarge {
		display: inherit !important;
	}
	
	.show-for-small,
	.show-for-medium,
	.show-for-medium-down,
	.show-for-large,
	.hide-for-large-up,
	.hide-for-xlarge {
		display: none !important;
	}
}




/* Medium display targeting */

@media only screen and (max-width: @medium) and (min-width: @small+0.1rem) {
	
	.hide-for-small,
	.show-for-medium,
	.show-for-medium-down,
	.hide-for-large,
	.hide-for-large-up,
	.hide-for-xlarge {
		display: inherit !important;
	}
	
	.show-for-small,
	.hide-for-medium,
	.hide-for-medium-down,
	.show-for-large,
	.show-for-large-up,
	.show-for-xlarge {
		display: none !important;
	}
}




/* Small display targeting */

@media only screen and (max-width: @small) {
	
	.show-for-small,
	.hide-for-medium,
	.show-for-medium-down,
	.hide-for-large,
	.hide-for-large-up,
	.hide-for-xlarge {
		display: inherit !important;
	}
	
	.hide-for-small,
	.show-for-medium,
	.hide-for-medium-down,
	.show-for-large,
	.show-for-large-up,
	.show-for-xlarge {
		display: none !important;
	}
}